.cards {
  position: relative;
  padding: 55px 64px 35px;
  overflow: hidden;
  background: url(../images/background.png) center / 100% 100% no-repeat;
  margin-bottom: 350px;
}

.cards__svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  width: 100px;
  border-radius: 10px;
  background: #fff;
  padding: 16px;
}

.slide {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.slide__img-wrp {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  background: #ffefe7;
  margin-bottom: -12px;
}

.slide__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.slide__target {
  width: 100%;
  border-radius: 38px;
  background: #ffefe7;
  color: #8d7f7f;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.slide__chaild {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.slide__label {
  color: #464646;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: -8px;
}

.slide__span {
  color: #464646;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.slide__text-container {
  color: #464646;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slide__description,
.slide__request,
.slide__resume {
  display: none;
}
.slide__description__opened,
.slide__request_opened,
.slide__resume_opened {
  display: inline;
}

.slide__preview_opened {
  height: auto;
}

.slide__link {
  text-decoration: none;
}

.slide__button {
  padding: 0;
  background-color: transparent;
  color: #fa6334;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.slide__button:hover {
  opacity: 1;
  text-decoration: underline;
}
.slide__preview {
  min-height: 60px;
}
.swiper__nav-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.navigation {
  position: relative;
  align-self: center;
  cursor: pointer;
  transition: 0.5s;
}

.navigation:hover {
  opacity: 0.7;
}

.cards__pagination-wrp {
  max-width: 160px;
}

.swiper-pagination {
  position: absolute;
  width: initial !important;
  position: relative;
  align-self: center;
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  background-color: #eee;
  border: 1px #fa6334 solid;
  opacity: 1;
  margin: auto;
}

.swiper-pagination-bullet-active {
  width: 32px;
  height: 32px;
  background-color: #fa6334;
}

progress {
  width: 100%;
  height: 16px;
  border-radius: 10px;
  background: #fff;
}

progress::-webkit-progress-bar {
  border-radius: 21px;
  background: #eee;
}

progress::-webkit-progress-value {
  border-radius: 21px;
  background: #fa6334;
}

progress::-moz-progress-bar {
  border-radius: 21px;
  border: none;
  background: #fa6334;
}

@media screen and (max-width: 960px) {
  .cards {
    padding: 32px 24px 50px;
    margin-bottom: 200px;
  }

  .slide__chaild {
    font-size: 18px;
    line-height: 24px;
  }

  .slide__img-wrp {
    height: 250px;
  }
  .slide__text-container {
    font-size: 14px;
    line-height: 18px;
  }

  .slide__button {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 800px) {
  .cards {
    padding: 48px 48px 45px 48px;
  }

  .slide__target {
    font-size: 16px;
    line-height: 20px;
  }

  .slide__chaild {
    font-size: 18px;
    line-height: 22px;
  }
  .slide__img-wrp {
    height: 200px;
  }
  .slide__text-container {
    font-size: 16px;
    line-height: 20px;
  }
  .slide__preview {
    min-height: 80px;
}

  .slide__button {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 705px) {
  .cards {
    padding: 48px 24px 50px;
    margin-bottom: 150px;
  }

  .slide__target {
    font-size: 14px;
    line-height: 16px;
  }

  .slide__chaild {
    font-size: 18px;
    line-height: 24px;
  }
  .slide__img-wrp {
    height: 250px;
  }
  .slide__text-container {
    font-size: 14px;
    line-height: 18px;
  }

  .cslide__button {
    font-size: 14px;
    line-height: 16px;
  }
}
