* {
  box-sizing: border-box;
  /* border: 1px red solid; */
}

.page.opened {
  /* height: 100vh; */
  overflow-y: hidden;

}

.button {
  padding: 9px 56px;
  border-radius: 20px;
  border: none;
  background: #fa6334;
  color: #f6f6f6;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  width: fit-content;
}

.button:hover {
  opacity: 0.7;
}

.text {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: #FA6334;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.fields {
  border: none;
  padding: 0;
}

@media screen and (max-width: 960px) {
  .button {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 800px) {
  .button {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (max-width: 540px) {
  .button {
    font-size: 20px;
    line-height: 24px;
  }
}